@mixin column {
  display: flex;
  flex-direction: column;
}

.checkText {
  margin-top: 0.5rem;
  color: red;
  font-weight: bold;
}
.slideHover {
  filter: opacity(65%);
  &:hover {
    filter: opacity(100%);
  }
}
.slide {
  filter: opacity(100%);
}
